input[type = "checkbox"] {
  content: '';
  border-radius: 40px;
  border: 2px solid var(--gray);
  transition: border-color 200ms;
  padding: 5px;
  height: 28px;
  width: 28px;
  position: absolute;

}
.checkBox {
  content: '';
  border-radius: 40px;
  border: 2px solid var(--gray);
  transition: border-color 200ms;
  padding: 5px;
  height: 28px;
  width: 28px;
  position: absolute;
}

.checkBox:hover{
  border-color: var(--blue);
  background-color: var(--blueHover);
  cursor: pointer;
}