
.checkBox {
  content: '';
  border-radius: 40px;
  border: 2px solid var(--gray);
  transition: border-color 200ms;
  padding: 5px;
  height: 28px;
  width: 28px;
  position: absolute;
}

.checkBox:hover{
  border-color: var(--blue);
  background-color: var(--blueHover);
  cursor: pointer;
}

.rootAppContainer {
  display: grid;
  grid-template: 
    'suggestion tree tree tree buttonContainer'
    'suggestion tree tree tree habitList'
    'suggestion tree tree tree habitList'
    'suggestion tree tree tree habitList'
    'suggestion tree tree tree habitList'
    'userStats bottomPanel bottomPanel bottomPanel habitList'
    'userStats bottomPanel bottomPanel bottomPanel habitList'
    'textGenerator textGenerator textGenerator textGenerator textGenerator'; /* Added line */
    grid-template-rows: auto auto auto auto auto auto auto 1fr; /* Adjust the number of 'auto' to match your actual rows */;
  width: 100%;
  height: 100vh;
  grid-gap: 10px;
  padding: 5vh 5vw;


}

.SuggestionList {
  grid-area: suggestion;
  /* border: 2px solid black; */
}

.UserStats {
  grid-area: userStats;
  /* border: 2px solid red; */
}

.TreeContainer {
  /* grid-area: tree; */
  display: grid;
  place-content: center;
  /* border: 2px solid green; */

}

.bottomPanelContainer {
  grid-area: bottomPanel;
  /* border: 2px solid blue; */

}

/* center panel */
.centerPanel {
  display: grid;
  place-content: center;
  align-items: center;
}
/* right panel */
.ButtonContainer {
  grid-area: buttonContainer;
  /* border: 2px solid yellow; */

}

.HabitList {
  grid-area: habitList;
  /* border: 2px solid orange; */

}

.textGeneratorSection {
  grid-area: textGenerator; /* Assign the section to the grid area */
  margin-top: 20px;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.textGeneratorSection h2 {
  margin-bottom: 10px;
}

/* 



*/
