:root {
  font-family: Inter, sans-serif;

  --lineHeight: 1.5;
  --textColor: #898989;
  --largeTextColor: rgba(0,0,0);
  font-weight: 400;

  /* color palette */
  /* use cases are included in figma doc */
  --red: #FF7878;
  --redAlt: #D24141;
  --redLight: #FF9696;

  --blue: #78C6FF;
  --blueAlt: #4D94C8;
  --blueLight: #A2D8FF;
  --blueHover: #DDF1FF;

  --green: #89D27D;
  --greenAlt: #4EB73D;
  --greenLight: #9FE394;
  --lightGray: #EAEAEA;
  --gray: #B7B7B7;
  --darkGray: #808080;
}

body, html {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  background: #8AD5FF;
  cursor: auto;
}

/* typography */
.Title {
  font-size: 1.8em;
  line-height: 1.2;
  color: var(--largeTextColor);
  font-weight: 700;
  margin: 0;
}

p {
  font-size: 1.15em;
  line-height: 1.5;
  color: var(--textColor);
  margin: 0;
  font-weight: 550;
}
h2 {
  margin-bottom: 8px;
}

/* use for habit titles */
.sub-title {
  font-size: 1.4em;
  font-weight: 600;
  margin: 0;
}
/* tags */
.tag {
  padding: 6px 16px;
  background-color: var(--gray);
  color: white;
  border-radius: 8px;
  width: fit-content;
}

/* animations */

/* input[type = "checkbox"] */
.checkBox {
  content: '';
  border-radius: 10px;
  border: 3px solid var(--gray);
  transition: border-color 200ms ease-in-out;
  height: 22px;
  width: 22px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
}
.checkBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
    
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
  
}

.checkBox:hover{
  border-color: var(--blue);
  background-color: var(--blueHover);
  cursor: pointer;
}
.checkBox:hover input ~ .checkmark {
 
}
.checkBox img {
  max-width: 10px;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkBox input:checked ~ .checkmark:after {
  display: block;
  background-color: var(--blueAlt);
  background-image: url(images/checkbox.png);
}
.checkBox .checkmark:after {
  background-image: url(images/checkbox.png);
  
}

.AIgen img {
  max-width: 24px;
}
.AIgen {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 12px;
  justify-content: start;
}
.upperTextContain {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4px;
}
.upperTextContain .Title {
  margin-left: 34px;
}

/* general categories */
.Habit {
  /* flex-direction: row;
  display: flex;
  align-items: center; */
  display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    border-radius: 20px;
    border: 4px solid var(--lightGray);
    padding: 28px;
    box-shadow: 4px 4px var(--lightGray);
    position: relative;
    align-items: center;
    justify-content: start;
    transition: background-color 200ms ease-in-out;
}

.Habit:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.Habit .sub-title {
  position: relative;
}

.habitTextContain {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  width: fit-content;
}

.controlPanel button{
  border-radius: 5000px;
  box-shadow: 4px 8px;
  width: 80px;
  height: 80px;
  outline: none;
  border: none;
}
.controlPanel button:hover {
  cursor: pointer;
  transform: translate(4px, 4px);
  box-shadow: none;
}
.controlPanel img {
  max-width: 50px;
}


/* main category buttons */
.bluePanelButton button{
  background-color: var(--blue);
  box-shadow: 4px 6px var(--blueAlt);
  transition: background-color 100ms ease-in-out;
}

.bluePanelButton button:hover {
  background-color: var(--blueLight);
}


.greenPanelButton button {
  background-color: var(--green);
  box-shadow: 4px 6px var(--greenAlt);
  
}
.greenPanelButton button:hover {
  background-color: var(--greenLight);
}

.redPanelButton button {
  background-color: var(--red);
  box-shadow: 4px 6px var(--redAlt);
}
.redPanelButton button:hover {
  background-color: var(--redLight);
}

.grayPanelButton button {
  background-color: #ffffff;
  box-shadow: 4px 6px var(--gray);
  border: 4px solid var(--lightGray)
}
.grayPanelButton button:hover {
  background-color: var(--lightGray);
}

.controlPanelContainer {
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-auto-flow: column;  
  grid-gap: 20px;
  border: 8px solid var(--lightGray);
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  padding: 28px 36px;
  background-color: #ffffff;
}
.habitCategory {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
}

.habitCategory h2{
  font-size: 1.5em;
  color: var(--darkGray);
  font-weight: 600;

}
/* contain all habits in a div to add margin top bottom */
.habitContain {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr;
  /* border: 3px 3px 3px 3px; */
  padding: 10px 10px 10px 10px
}

.HabitList {
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  border: 8px solid var(--lightGray);
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: #ffffff;
  height: 60vh;
  overflow: scroll;
}

/* container for suggestions on left panel */
.suggestionRoot {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  grid-gap: 8px;
  border-radius: 20px;
  border: 4px solid var(--lightGray);
  padding: 24px;
  box-shadow: 4px 4px  var(--lightGray);
}

/* the text inside the suggestion root container */
.suggestionContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4px;
}

.fullSuggestionContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  border: 8px solid var(--lightGray);
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: #ffffff;
}

.suggestionIcon img {
  max-width: 30px;
}
/* navigation panel */
.createHabitContainer {
  display: grid;
  grid-auto-flow: column;  
  grid-gap: 20px;
  border: 8px solid var(--lightGray);
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  padding: 12px 36px;
  background-color: #ffffff;
}
.userProfile {
  background-color: white;
  border: 4px solid var(--lightGray);
  border-radius: 100px;
  padding: 10px;
  width: 40px;
  height: 40px;
  transition: background-color 200ms ease-in-out;
  cursor: pointer;
}
.userProfile img {
  max-width: 40px;
}
.userProfile:hover {
  background-color: var(--gray);
}
.createHabitButton {
  background-color: var(--blue);
  border-radius: 100px;
  padding: 10px;
  width: 40px;
  height: 40px;
  transition: background-color 200ms ease-in-out;
  cursor: pointer;
  color: #ffffff;
  font-size: 40px;
  display: grid;
  place-content: center;
}
.createHabitButton:hover {
  background-color: var(--blueLight);
}