:root {
  font-family: Inter, sans-serif;

  --lineHeight: 1.5;
  --textColor: #898989;
  --largeTextColor: rgba(0,0,0);
  font-weight: 400;

  /* color palette */
  /* use cases are included in figma doc */
  --red: #FF7878;
  --redAlt: #D24141;
  --redLight: #FF9696;

  --blue: #78C6FF;
  --blueAlt: #4D94C8;
  --blueLight: #A2D8FF;
  --blueHover: #DDF1FF;

  --green: #89D27D;
  --greenAlt: #4EB73D;
  --greenLight: #9FE394;
  --lightGray: #EAEAEA;
  --gray: #B7B7B7;
  --darkGray: #808080;
}

body, html {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  background: #8AD5FF;
  cursor: auto;
}

/* typography */
.Title {
  font-size: 1.8em;
  line-height: 1.2;
  color: var(--largeTextColor);
  font-weight: 700;
  margin: 0;
}

p {
  font-size: 1.15em;
  line-height: 1.5;
  color: var(--textColor);
  margin: 0;
  font-weight: 550;
}
/* use for habit titles */
.sub-title {
  font-size: 1.4em;
  font-weight: 600;
  margin: 0;
}


/* animations */

/* input[type = "checkbox"] */
.checkBox {
  content: '';
  border-radius: 40px;
  border: 2px solid var(--gray);
  transition: border-color 200ms;
  padding: 5px;
  height: 28px;
  width: 28px;
  position: relative;
}

input[type = "checkbox"].checkBox:hover{
  border-color: var(--blue);
  background-color: var(--blueHover);
  cursor: pointer;
}

.Habit {
  /* flex-direction: row;
  display: flex;
  align-items: center; */
  justify-content: center;
  display: grid;
  grid-auto-flow: column;  
  justify-content: space-around;
  grid-gap: 20px;
  align-items: flex-start;
  border-radius: 20px;
  border: 4px solid var(--lightGray);
  padding: 28px;
  box-shadow: 4px 4px  var(--lightGray);
  position: relative;
  align-items: center;
}

.Habit .sub-title {
  position: relative;
}


.controlPanel button{
  border-radius: 5000px;
  box-shadow: 4px 8px;
  width: 80px;
  height: 80px;
  outline: none;
  border: none;
}
.controlPanel button:hover {
  cursor: pointer;
  transform: translate(4px, 4px);
  box-shadow: none;
}
.controlPanel img {
  max-width: 50px;
}

/* main category buttons */
.bluePanelButton button{
  background-color: var(--blue);
  box-shadow: 4px 6px var(--blueAlt);
  transition: background-color 100ms;
}

.bluePanelButton button:hover {
  background-color: var(--blueLight);
}


.greenPanelButton button {
  background-color: var(--green);
  box-shadow: 4px 6px var(--greenAlt);
  
}
.greenPanelButton button:hover {
  background-color: var(--greenLight);
}

.redPanelButton button {
  background-color: var(--red);
  box-shadow: 4px 6px var(--redAlt);
}
.redPanelButton button:hover {
  background-color: var(--redLight);
}

.grayPanelButton button {
  background-color: #ffffff;
  box-shadow: 4px 6px var(--gray);
  border: 4px solid var(--lightGray)
}
.grayPanelButton button:hover {
  background-color: var(--lightGray);
}

.controlPanelContainer {
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-auto-flow: column;  
  grid-gap: 20px;
  border: 8px solid var(--lightGray);
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  padding: 28px 36px;
  background-color: #ffffff;
}
.habitCategory {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
}

.habitCategory h2{
  font-size: 1.5em;
  color: var(--darkGray);
  font-weight: 600;

}
/* contain all habits in a div to add margin top bottom */
.habitContain {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr;
  /* border: 3px 3px 3px 3px; */
  padding: 10px 10px 10px 10px
}

.HabitList {
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  border: 8px solid var(--lightGray);
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: #ffffff;
  height: 60vh;
  overflow: scroll;
}

/* container for suggestions on left panel */
.suggestionRoot {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  border: 4px solid var(--lightGray);
  padding: 24px;
  box-shadow: 4px 4px  var(--lightGray);
}

/* the text inside the suggestion root container */
.suggestionContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4px;
}

.fullSuggestionContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  border: 8px solid var(--lightGray);
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: #ffffff;
}


/* navigation panel */
.createHabitContainer {
  display: grid;
  grid-auto-flow: column;  
  grid-gap: 20px;
  border: 8px solid var(--lightGray);
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  padding: 28px 36px;
  background-color: #ffffff;
}
.userProfile {
  background-color: white;
  border: 4px solid var(--lightGray);
  border-radius: 100px;
  padding: 10px;
  width: 40px;
  height: 40px;
  transition: background-color 200ms;
  cursor: pointer;
}
.userProfile img {
  max-width: 40px;
}
.userProfile:hover {
  background-color: var(--gray);
}
.createHabitButton {
  background-color: var(--blue);
  border-radius: 100px;
  padding: 10px;
  width: 40px;
  height: 40px;
  transition: background-color 200ms;
  cursor: pointer;
  color: #ffffff;
  font-size: 40px;
  display: grid;
  place-content: center;
}
.createHabitButton:hover {
  background-color: var(--blueLight);
}