:root {
  font-family: Inter, sans-serif;

  --lineHeight: 1.5;
  --textColor: #898989;
  --largeTextColor: rgba(0,0,0);
  font-weight: 400;

  /* color palette */
  /* use cases are included in figma doc */
  --red: #FF7878;
  --redAlt: #D24141;
  --blue: #78C6FF;
  --blueAlt: #4D94C8;
  --blueHover: #DDF1FF;
  --green: #89D27D;
  --greenAlt: #4EB73D;
  --lightGray: #EAEAEA;
  --gray: #B7B7B7;
  --darkGray: #808080;
}

/* body, html {
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
} */

/* typography */
.Title {
  font-size: 1.8em;
  line-height: 1.2;
  color: var(--largeTextColor);
  font-weight: 700;
  margin: 0;
}

p {
  font-size: 1em;
  line-height: 1.5;
  color: var(--textColor);
  margin: 0;
  font-weight: 550;
}
/* use for habit titles */
.sub-title {
  font-size: 1.2em;
  font-weight: 600;
  margin: 0;
}


/* animations */

/* input[type = "checkbox"] */
.checkBox {
  content: '';
  border-radius: 40px;
  border: 2px solid var(--gray);
  transition: border-color 200ms;
  padding: 5px;
  height: 28px;
  width: 28px;
  
}

input[type = "checkbox"].checkBox:hover{
  border-color: var(--blue);
  background-color: var(--blueHover);
  cursor: pointer;
}

.Habit {
  /* flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center; */
  display: grid;
  grid-auto-flow: column;  
  grid-gap: 20px;
  align-items: flex-start;
  border-radius: 20px;
  border: 4px solid var(--lightGray);
  padding: 28px;
  box-shadow: 4px 4px  var(--lightGray);
}

.controlPanel button{
  border-radius: 5000px;
  box-shadow: 4px 8px;
  width: 80px;
  height: 80px;
  outline: none;
}
.bluePanelButton {
  background-color: var(--blue);
}
.controlPanelContainer {
  display: flex;
  flex-direction: row;
  border: 10px solid var(--lightGray);
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  padding: 28px 36px;
}
.habitCategory {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
}

.habitCategory h2{
  font-size: 1.5em;
  color: var(--darkGray);
  font-weight: 600;

}
/* contain all habits in a div to add margin top bottom */
.habitContain {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr;
}

.HabitList {
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  border: 10px solid var(--lightGray);
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

/* container for suggestions on left panel */
.suggestionRoot {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  border: 4px solid var(--lightGray);
  padding: 24px;
  box-shadow: 4px 4px  var(--lightGray);
}

/* the text inside the suggestion root container */
.suggestionContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4px;
}

.fullSuggestionContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  border: 10px solid var(--lightGray);
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  padding: 24px;
}